body, th, td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: 40px;
}

body
{
    font-size: 62.5%;
    margin: 0px auto;
    padding: 0px;
    font-family: arial, sans-serif;
    text-align: center; /* hack para o IE */
    background: url(../../library/img/backgroud.png) repeat-x;
}

select
{
    background-color: #fff;
    color: #5f5c5c;
    width: 340px;
    height: 20px;
    border: none;
    text-align: left;
    vertical-align: middle;
    margin:2px 0 2px 0;
    padding: 1px 0px 1px 0px;
   
}
h2
{   
    color:#fff;
    font-size:18px;
    font-weight:bold;
    padding: 10px 0px 5px 5px;
    margin: auto;
}

#happer
{
    height: 550px;
}
#frame
{
    width: 960px;
    top: 20px;
    margin: 20px auto 5px auto;
    text-align: left; /* "remédio" para o hack do IE */
}
#topo
{
    background: url(../../library/img/logo.png) no-repeat;
    height: 180px;
    width: 300px;
}
#logo
{
    float: right;
    left: 100px;
}

#conteudo
{
    margin: 5px 0 15px 0;
    background-color: #dededd;
}

#resultado
{
    padding: 5px 0 0 0;
}
#login
{
    margin: 5px 0 0 200px;
}

#logado
{
    margin: 135px 0 0 0;
    float: right;
}

#tabela
{
    margin: 10px auto 0 30px;
    
}
.rodape
{
    overflow: hidden;
    text-align: center;
    clear: both;
    width: 100%;
    margin: 0px;
    color: #dededd;
    font-size: 10px;
    font-weight: bold;
}
.rodape p
{
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1.3em;
    font-size: 100%;
}

.numero
{
    background-color: #fff;
    width: 80px;
    height: 15px;
    border: none;
    text-align: left;
    vertical-align: middle;
    padding: 1px 10px 1px 0px;
}


.texto
{
    background-color: #ececeb;
    width: 200px;
    height: 15px;
    border: none;
    text-align: left;
    vertical-align: middle;
    padding: 2px 10px 2px 0px;
}

.labeltitulo
{
    color: #5f5c5c;
}
.label
{
    color: #fff;
}



















ul.topnav
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 600px;
  
}
ul.topnav li
{
    float: left;
    margin: 0;
    padding: 0 0px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--     background: url(../../library/img/btnmenu.png) no-repeat;*/
    width: 111px;
}
ul.topnav li a
{
    padding: 10px 5px 0 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li a:hover
{
    /*background: url(../../library/img/btnmenu.png) no-repeat center top;*/
}
ul.topnav li span
{
    /*--Drop down trigger styles--*/
    width: 17px;
    height: 35px;
    float: left;
    background: url(subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover
{
    background-position: center bottom;
    cursor: pointer;
}
/*--Hover effect for trigger--*/
ul.topnav li ul.subnav
{
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0;
    top: 35px;
    background: #333;
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
}
ul.topnav li ul.subnav li
{
    margin: 0;
    padding: 0;
    border-top: 1px solid #252525; /*--Create bevel effect--*/
    border-bottom: 1px solid #444; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}
html ul.topnav li ul.subnav li a
{
    float: left;
    width: 145px;
    background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover
{
    /*--Hover effect for subnav links--*/
    background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;
}
