set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




-- =============================================
-- Author:		<Leandro Bernini>
-- Create date: <06/02/2011>
-- Description:	<Inseri um Novo Processo de Compra>
-- =============================================
ALTER PROCEDURE [dbo].[SP_PROCESSOCOMPRA_INSERE]  
@CAT INT,
@CC_ID INT
AS

DECLARE @PCompra int, @CodItemPedido int, @CODPEDIDO INT, @TMP_CODPEDIDO INT;
SET @TMP_CODPEDIDO = 0;
DECLARE @INCODPEDIDO NVARCHAR(200);    
INSERT INTO
	PROCESSOCOMPRA (DT_PROCESSOCOMPRA)
VALUES
	(GETDATE());

SELECT  @PCompra = @@IDENTITY;

DECLARE ProcessoCompra CURSOR
    FOR SELECT			PED.COD_PEDIDO, IPD.COD_PEDITENS
	FROM			PEDIDO AS PED INNER JOIN
						PEDIDOS_ITENS AS IPD ON PED.COD_PEDIDO = IPD.COD_PEDIDO 
						INNER JOIN ITENS AS ITM ON IPD.COD_ITEM = ITM.COD_ITEM AND ITM.COD_CATEGORIA = @CAT 
						INNER JOIN PROJETO ON IPD.COD_PROJETO = PROJETO.COD_PROJETO 
						INNER JOIN CENTRODECUSTO ON PROJETO.COD_CENTROCUSTO = CENTRODECUSTO.COD_CENTRODECUSTO AND PROJETO.COD_CENTROCUSTO = @CC_ID
	WHERE     (PED.NUM_STATUS = 2 OR PED.NUM_STATUS = 1);

OPEN ProcessoCompra
FETCH NEXT FROM ProcessoCompra INTO @CODPEDIDO, @CodItemPedido;

WHILE @@FETCH_STATUS = 0
	BEGIN	
		
		INSERT INTO PROCESSOCOMPRA_PEDITEM VALUES (@PCompra, @CodItemPedido);
		UPDATE PEDIDOS_ITENS SET NUM_STATUS_ITEM = 2, DAT_PEDIDO_FORN = GETDATE() WHERE COD_PEDITENS = @CodItemPedido;
		

		IF @TMP_CODPEDIDO = 0 
			BEGIN
				SET @INCODPEDIDO =  + CONVERT(NVARCHAR(10), @CODPEDIDO) 
				SET @TMP_CODPEDIDO = @CODPEDIDO;
			END  
		ELSE IF @TMP_CODPEDIDO  <> @CODPEDIDO 
		BEGIN
			SET @INCODPEDIDO = @INCODPEDIDO + ',' + CONVERT(NVARCHAR(10), @CODPEDIDO) 
			SET @TMP_CODPEDIDO = @CODPEDIDO;
		END

	FETCH NEXT FROM ProcessoCompra INTO @CODPEDIDO, @CodItemPedido
	END

	PRINT @INCODPEDIDO;

	DECLARE @CONTADOR INT

    SELECT @CONTADOR = COUNT(1) FROM (SELECT DISTINCT ITM.COD_CATEGORIA FROM PEDIDOS_ITENS PEDITENS INNER JOIN ITENS ITM ON PEDITENS.COD_ITEM = ITM.COD_ITEM WHERE PEDITENS.COD_PEDIDO = 177) CATEGORIAS

SELECT @CONTADOR
	IF @CONTADOR = 1
	BEGIN
		EXEC('UPDATE PEDIDO SET NUM_STATUS = 2, DAT_PEDIDOFORN = GETDATE() WHERE COD_PEDIDO IN ( ' + @INCODPEDIDO + ')');
	END 
	--COMMIT;
	CLOSE ProcessoCompra;
	DEALLOCATE ProcessoCompra;


 













